* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* account.html */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0e11;
    padding: 3px 5px;
    height: 28px;
}

.header h1 {
    font-size: 14px;
    cursor: default;
}

.settings-icon {
    width: 18px;
    height: 18px;
    background-image: url("../img/settings.svg");
    background-size: cover;
}

.settings-icon:hover {
    background-image: url("../img/settings_fill.svg");
}

.container {
    width: 330px;
    color: #fff;
    background-color: #15161B;
}

.account {
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.account h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-box {
    padding: 5px;
    border: 1px solid #424242;
    margin-bottom: 5px;
}

.input-box label {
    font-weight: lighter;
    margin-bottom: 2px;
}

.input-box div {
    font-size: 14px;
}

.account .show-icon {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.send-control {
    margin-top: 20px;
    display: flex;
}

.send-control select {
    padding: 2px 5px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 5px;
}

.select-success-opt {
    border-color: #04e004;
    color: #04e004;
    outline: none;
}

.select-error-opt {
    border-color: #ff0f0f;
    color: #ff0f0f;
    outline: none;
}

.primary-btn {
    padding: 2px 5px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #0d0e11;
    font-weight: bold;
    cursor: pointer;
}

.clr-gr {
    border-color: #04e004;
    color: #04e004;
}

.clr-rd {
    border-color: #ff0f0f;
    color: #ff0f0f;
}

/* verify-server.html */

.verify-container {
        width: 330px;
        color: #fff;
        background-color: #0d0e11;
        padding: 5px 10px 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.loading-icon {
    opacity: 0.5;
    animation: spinningIcon 1500ms linear infinite;
}

.fail-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.fail-message .primary-btn {
    margin-top: 10px;
}

.hidden {
    display: none;
}

@keyframes spinningIcon {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
