<meta charset="utf-8">
<link href="/assets/css/popup.css" rel="stylesheet" type="text/css" />
<script type="module" src="/src/account-control.js"></script>

<div class="container">
    <div class="header">
      <div class="header-title"><h1><img src="/assets/icons/icon48.png" alt="" class="logo">YgiBringer</h1></div>
        <a href="/view/settings.html" class="settings-icon"></a>
    </div>

    <div class="account">
        <h2>Conta atual</h2>
        <div class="input-box">
          <label for="login">Login</label>
          <div id="login"></div>
        </div>
        
        <div class="input-box">
          <label for="">Senha</label>
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div id="password"></div><img src="/assets/img/visibility.svg" class="show-icon">
          </div>
        </div>

        <!-- <div class="status-group">
          <div class="error"></div>
          <div class="success"></div>
          <a href="/view/status.html"><img src="/assets/img/more.svg" alt=""></a>
          <button class="status-btn clr-gr" id="success-btn">Ok</button>
        </div> -->

        <div class="notification"></div>
        <div class="send-control">
          <select name="status" id="status-select"></select>
          <button class="primary-btn" id="send-btn">Enviar</button>
        </div>
    </div>
</div>
