<meta charset="utf-8">
<link href="/assets/css/popup.css" rel="stylesheet" type="text/css" />
<script type="module" src="/src/settings.js"></script>

<div class="container">
    <div class="header">
        <a href="/view/account.html"><img src="/assets/img/back.svg"></a>
        <div class="header-title"><h1><img src="/assets/icons/icon48.png" alt="" class="logo">YgiBringer</h1></div>
      </div>
      <div class="settings">
        <h2>Configurações</h2>
        <label for="username">
            Nome de usuário:
            <input type="text" id="username" value="">
        </label>
        <label for="server-url">
            URL do servidor:
            <input type="text" id="server-url" value="http://localhost:8080">
        </label>
        <label for="auto-login">
            Login automático:
            <input type="checkbox" id="auto-login">
        </label>
        <label for="redirect-creator">
            Redirecionar para criador de conteúdo:
            <input type="checkbox" id="redirect-creator">
        </label>
        <div class="notification"></div>
        <button class="primary-btn" id="save-btn">Salvar</button>
      </div>
</div>
