<meta charset="utf-8">
<link href="/assets/css/popup.css" rel="stylesheet" type="text/css" />
<script type="module" src="/dist/status-options.bundle.js"></script>

<div class="status-container">
  <a href="/view/account.html" title="Voltar"><img src="/assets/img/back.svg"></a> <span>Lista de status</span>
  <div class="center">
    <div class="status-list">
      <button class="status-btn clr-rd">Bloqueado</button>
      <button class="status-btn clr-rd">SENHA INCORRETA</button>
      <button class="status-btn clr-rd">DESLOGANDO</button>
    </div>
    <img src="/assets/img/sync.svg" alt="" class="loading-icon hidden">
  </div>
</div>
